$primary : #E8505B;
$secondary : #cd78d8;
$gray : #455A64;
$light-gray : #E0E0E0;
$dark : #263238;
$white : #FFFFFF;


$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'gray': $gray,
    'dark': $dark,
    'white': $white
);